.button {
  background: $main-color;
  border: none;
  border-bottom: 3px solid darken($main-color, 30);
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 2rem 4rem 2rem 4rem;
  transition: box-shadow 1500ms linear;

  &:active {
    border-bottom: none;
    margin-top: 3px;
  }
  &:hover {
    -moz-box-shadow: 0 0 50px lighten($main-color, 5);
    -webkit-box-shadow: 0 0 50px lighten($main-color, 5);
    box-shadow: 0px 0px 50px lighten($main-color, 5);
  }
  &:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}