.footer {
  height: 5vh;
  align-items: center;  
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;

  a {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
  }
  @media (max-width: $large-breakpoint){
    a {
      font-size: 3rem;
    }
  } 
}