.header {
  height: 5vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  a {
    color: lightgray;
    padding-bottom: 0.2rem;
    text-decoration: none;
    transition: border 0.2s ease;

    &:hover {
      border-bottom: 2px solid $main-color;
    }
  }
  @media (max-width: $medium-breakpoint){
    padding: 2rem;
    margin: 0;
  } 
}

.header__home {
  a {
    color: $main-color;
  }
}
