.home {
  display: flex;
  align-items: center;
}

.home__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 6rem;
    span {
      color: $main-color;
    }
    &:nth-child(3) {
      font-size: 3rem;
      margin-bottom: 3rem;
      margin-top: 1rem;
    }
  }
}

.home__splitter {
  height: 75vh;
  border-right: 2px solid $main-color;
  margin: 5rem;
}

.home__picture {
  img {
    height: 50vh;
    border-radius: 50%;
  }
}
