.projects {
  height: 90vh;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
  }
}

.projects__overview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid $main-color;
  // margin-right: 2rem;
  width: 20rem;
  height: 20rem;
  transition: background 0.5s ease;
  &:hover {
    background: $main-color;
    border: none;
    color: white;
    text-decoration: underline;
  }
}