// GENERAL
.resume {
  display: flex;
  justify-content: center;
  padding: 5rem;
  
  h2 {
    font-size: 3rem;
    background: white;
    color: $main-color;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: $medium-breakpoint){
    padding: 0;
    flex-direction: column;
  } 
  @media (max-width: $large-breakpoint){
    padding: 2rem;
    h2 {
      font-size: 2.5rem;
    }
  }  
}
.glyph {
  font-size: 3rem;
  @media (max-width: $medium-breakpoint){
    font-size: 2rem;
  } 
  @media (max-width: $large-breakpoint){
    font-size: 2.5rem;
  } 
}
.glyph--info {
  margin-right: 10%;
}
.glyph--hobby {
  font-size: 4rem;
}
.circle {
  font-size: 1rem;
}
.separator {
  border-bottom: 2px solid lighten($color: $main-color, $amount: 10);
  margin: 1rem 0;
}


// LEFT SIDE
.resume__left {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: $main-color;
  color: white;
  width: 33rem;

  p {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  @media (max-width: $medium-breakpoint){
    padding: 1rem;
    width: 100vw;
  } 
  @media (max-width: $large-breakpoint){
    p {
      font-size: 1.5rem;
    }
  } 
}

.resume__photo {
  img {
    width: 100%;
  }
  
}

.resume__section {
  margin-top: 0.5rem;
}

.section__info {
  padding: 1rem;
}

.section__skills {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section__hobbies {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
}

// RIGHT SIDE
.resume__right {
  display: flex;
  flex-direction: column;
  // justify-content: space-;

  background: white;
  color: $font-color;
  padding: 1rem;
  width: 66rem;
  h1 {
    color: $main-color;
    font-size: 6rem;
    text-align: center;
    padding: 1rem;
  }
  h2 {
    color: white;
    background: $main-color;
    text-align: left;
    padding-left: 1.5rem;
    span {
      margin-right: 2rem;
      font-size: 4rem;
    }
  }

  @media (max-width: $medium-breakpoint){
    padding: 1rem;
    width: 100vw;
  } 
  @media (max-width: $large-breakpoint){

  } 
}

.resume__title {
  @media (max-width: $medium-breakpoint){
    display: none;
  } 
}


.resume__entry {
  // border-left: 3px solid $main-color;
  border-left: 3px solid lighten($color: $main-color, $amount: 10);
  padding: 1rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  h3 {
    font-size: 2.2rem;
  }
  @media (max-width: $medium-breakpoint){
    padding: 0;
    width: 100vw;
    border: none;
    padding-bottom: 1rem;
    border-bottom: 3px solid lighten($color: $main-color, $amount: 10);
    width: 100%;
  } 

}

.resume__entry__subtitle {
  color: grey;
  font-size: 1.8rem;
  @media (max-width: $medium-breakpoint){
    display: none;
  } 
}

.resume__entry__time {
  color: $main-color;
  font-weight: bold;
  font-size: 1.8rem;
}

.resume__entry__location {
  color: grey;
  font-size: 1.2rem;
  @media (max-width: $medium-breakpoint){
    display: none;
  } 
}