.wrapper {
  text-align: center;
  margin-top: -150px;
}

.heading {
  font-weight: 400;
  margin-bottom: 50px;

  em {
    font-weight: bold;
    font-style: normal;
    color: $primary-color;
  }
}

.profilePic {
  border-radius: 99999px;
  width: 150px;
  margin: 0 auto;
}
