.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height;
  font-family: monospace;
  font-size: 1.8rem;
}

.activeLink {
  border-bottom: 2px solid $primary-color;
}

.leftSection {
  font-size: 2rem;
}

.rightSection a {
  margin: 0 8px;
  padding: 0 8px;
  padding-bottom: 4px;
}

.rightSection a:hover {
  color: $gray-light;
}
