@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-size: 1.3rem;
  background:  $bg-color;
  color: white;
  font-family: 'Oxygen', Helvetica, sans-serif; 
  // width: 90vw;
  margin: 0 auto;
}

.link--active{
  border-bottom: 2px solid $main-color;
}