@import url('https://fonts.googleapis.com/css?family=Oxygen');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-size: 1.3rem;
  background:   #1e272e;
  color: white;
  font-family: 'Oxygen', Helvetica, sans-serif; 
}

.link--active{
  border-bottom: 2px solid $hl-color2;
}