.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container__header {

}

.container__component {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__footer {
}
